@import "tailwindcss";

@theme {
  --color-mint-50: #f0fdf9;
  --color-mint-100: #ccfbef;
  --color-mint-200: #99f6e0;
  --color-mint-300: #5fe9ce;
  --color-mint-400: #2dd4b8;
  --color-mint-500: #14b8a6;
  --color-mint-600: #0d9488;
  --color-mint-700: #0f766e;
  --color-mint-800: #115e59;
  --color-mint-900: #134e4a;
}
